@keyframes hide-content-overlay {
	0% { transform: scale(1); }
	100% { transform: scale(0); }
}

@keyframes show-content-overlay {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes show-content {
	0% { opacity: 0; z-index: -1; }
	100% { opacity: 1; z-index: 3; }
}

@keyframes hide-content {
	0% { opacity: 1; z-index: 3; }
	100% { opacity: 0; z-index: -1; }
}

.card {
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.card__overlay,
.card__image,
.card__content {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
	animation-iteration-count: 1;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.card__overlay {
	background: rgba(0, 0, 0, 0.75);
	transform: scale(0);
	z-index: 2;
}

.card-is-selected--true .card__overlay { animation-name: show-content-overlay; }
.card-is-selected--false .card__overlay { animation-delay: 0.5s; animation-name: hide-content-overlay; }

.card__image {
	z-index: 1;
}

.card__content {
	align-items: center;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	padding: 20px;
	z-index: -1;
}

.card-is-selected--true .card__content { animation-delay: 0.5s; animation-name: show-content; }
.card-is-selected--false .card__content { animation-name: hide-content; }

.card__title {
	border-bottom: 1px solid #fff;
	font-family: 'EB Garamond', georgia, serif;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: .8rem;
	padding-bottom: .8rem;
	text-align: center;
	width: 100%;
}

.card__made-with {
	list-style: none;
	padding-bottom: 1.4rem;
}

.card__made-with li {
	color: rgba(255, 255, 255, 0.65);
	display: inline;
	font-size: 0.9rem;
}

.card__made-with li:not(:last-of-type):after {
	content: ', ';
}
